body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --main-color: #011f4b;
  --second-color: #03396c;
  --main-color-light: #005b96;
  --second-color-light: #6497b1;
  --background-color-dark: #b3cde0;
  --background-color: #e4edf2;
  --border-color: #cacaca;
  --border-color-dark: #808080;
}
h2 {
  color: var(--second-color) !important;
}
a {
  text-decoration: none;
}

.cusor-pointer {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.max-4-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.max-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.max-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.max-1-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
.text-body {
  color: var(--second-color) !important;
}
.ant-card-meta-title {
  color: var(--second-color) !important;
}
.ant-tabs-nav-operations {
  color: var(--second-color) !important;
}
.ant-card-meta-description {
  color: var(--second-color-light) !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-color-light);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
